pymongo
xmltodict
dnspython
beautifulsoup4
turfpy==0.0.7
geojson
typer[all]
dnspython
jsonschema
python-dateutil
pytz
requests
pydantic>=2
pydantic[email]
geopandas
xarray
netcdf4
rioxarray
pycrs
gdal
