pymongo
xmltodict
GDAL
dnspython
beautifulsoup4
turfpy==0.0.7
geojson
typer[all]
PyCRS
dnspython
pyproj
jsonschema
python-dateutil
pytz
requests
pydantic==1.10
pydantic[email]==1.10
s3fs
typing-extensions==4.1.1